<div class="home-blocks col-left">
    <div class="row">
        <div class="tabs-control">
            <ul>
                <li class="tab" data-toggle="1"><a href="javascript:void(0)">Best Photo</a></li>
                <li class="tab" data-toggle="1"><a class="active" href="javascript:void(0)">Everyday Life</a></li>
                <li class="tab" data-toggle="1"><a href="javascript:void(0)">Travel</a></li>
                <li class="tab" data-toggle="1"><a href="javascript:void(0)">Character</a></li>
                <li class="tab" data-toggle="1"><a href="javascript:void(0)">Pet</a></li>
                <li class="tab" data-toggle="1"><a href="javascript:void(0)">Event</a></li>
                <li class="tab" data-toggle="1"><a href="javascript:void(0)">Other</a></li>
            </ul>
        </div>
        <div class="tabs-content" data-tab="1">
            <div class="gallery-grid home-4-grid">
                <ul class="items-grid">
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="image"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/item.png" alt="" /></a>
                        <div class="info">
                            <h2 class="name">Mountain</h2>
                            <span class="personal">angie0140</span>
                            <span class="recomment">Recomment: 4</span>
                            <span class="time">15.08.12</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="toolbar-bottom">
            <div class="toolbar">
                <div class="pages">
                    <span>Page </span>
                    <input type="text" value="1" title=""/>
                    <span>of 10</span>
                    <a class="prev" href="#" title="">Prev</a>
                    <a class="next" href="#" title="">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar-right col-right">
    <div class="new-feed top">
        <a href="#"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/photo-streaming.png"></a>
    </div>
    <div class="lists-feed">
        <a href="#"><img src="http://myportfolio.local/skin/frontend/heykorean/default/images/gallery/list-feed.png"></a>
    </div>
</div>